@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    padding: 30px;
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

a {     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 17px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.2s; 
}

a:hover {
    background: gray;
    color: white;
}

a:active {
    opacity: 85%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 25px;
    margin-bottom: 10px;
    font-size: 14px;
}

textarea {
    margin-bottom: 3px;
    height: 100px;
    font-size: 14px;
}

button {
    width: 150px;
    height: 25px;
    font-size: 14px;
    background: lightgray;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2c3e50;
    transition: all ease 0.75s;
}
button:hover {
    opacity: 90%;
    cursor: pointer;
}

button:active {
    opacity: 80%;
    box-shadow: none;
}

#expenses {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 100%;
    margin-top: 50px;
}

.expense-item, .unpaid-item, .paid-item {
    display: inline-block;
    background: rgb(255,255,255,1);
    margin: 0 15px 15px 0;
    width: 200px;
    height: 210px;
    padding: 10px;
    border-radius: 5px;
}

.expense-item{
    box-shadow: 0 0 1em black;
}

.unpaid-item {
    box-shadow: 0 0 1em red;
}

.paid-item {
    box-shadow: 0 0 1em green;
}

#navigation {
    background: white;
    border-bottom: 1px solid #000;
    height: 45px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

#redirect-area {
    width: 720px;
    height: 45px;
    margin: 0 auto;
}

#user-name {
    display: inline-block;
    width: 100px;
    height: 45px;
    margin: 0;
}

#menu {
    display: grid;
    grid-template-rows: 45px;
    grid-template-columns: 100px 150px 150px 50px;
    height: 45px;
    float: right;
}

#expense_form{
    width: 240px;
    margin: 55px auto 10px auto;
    padding: 10px;
}

.due-date {
    font-size: 14px;
    border-bottom: 1px solid #000;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.total--amount{
    margin: 40px;
    font-size: 24px;
    font-family: 'Otomanopee One', sans-serif;
}

#expenses--history {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    height: 100%;
    margin-top: 50px;
}

.bar {
    margin-top: 50px;
}

.categories {
    margin-bottom: 10px;
    height: 45px;
}