* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}

#signup {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #2c3e50;
    width: 260px;
    height: 350px;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #2c3e50;
    width: 260px;
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: -100px;
}

input {
    margin-bottom: 10px;
    height: 30px;
    width: 180px;
    font-size: 14px;
}

button {
    margin-bottom: 10px;
    height: 30px;
    width: 180px;
    border: none;
    background: gray;
    color: white;
    transition: all ease 0.4s;
}

button:hover {
    opacity: 85%;
}

#login a {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
    color: seagreen;
}