{% extends "navigation_bar.html" %}
{% block content %}
{% if expenses %}

<div id="expenses--history">
    {% for e in expenses %}

    <div class="expense-item">
        <h2> {{e.value}} </h2>
        <span class="due-date"> {{e.due}}</span>
        <p>{{e.description}} </p>
        <p>{{e.category.value}} </p>
    </div>

    {% endfor %}
    
</div>

<div class="bar--container">
    <div class="bar">
        {% for cat, value in expenses_categories.items() %}
        <div class='categories' id={{cat}}>{{value}}</div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
<script type='text/javascript' src="../static/js/bar.js"></script>
<script type="text/javascript">
	VanillaTilt.init(document.querySelectorAll(".expense-item"), {
		max: 25,
		speed: 400
	});
</script>
{% endif %}
{% endblock %}