{% extends "navigation_bar.html" %}
{% block content %}
    <div id="expense_form">
        <form method="post" action="/expense">

            <input type="number" name="value" placeholder="Valor"/>

            <input type="date" name="due" placeholder="Vencimento"/>

            <textarea name="description" placeholder="Descrição"></textarea>

            <select name="category">
                <option value="Outros">Outros</option>
                <option value="Alimentaçao" selected>Alimentaçao</option>
                <option value="Transporte">Transporte</option>
                <option value="Entretenimento">Entretenimento</option>
              </select>

            <button type="submit" id="add--expenses">Adicionar Gasto</button>
        </form>
    </div>
{% endblock %}
