<html>
    <head>
        <title>Meu site</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user.css') }}" />
    </head>

    <body>

        <div id="login">
            <form method="post" action="/signin">

            <input type="text" name="username" placeholder="Usuário"/> 

            <input type="password" name="password" placeholder="Senha">

            <button type="submit">Login</button>

            <a href="{{ url_for('user.signup') }}">Criar Usuário</a>
        </form>
        </div>

    </body>

</html>
