{% extends "navigation_bar.html" %}
{% block content %}
    <div id="expenses">
        {% if expenses %}

            {% for e in expenses %}

                {% if date < e.due %}

                    <div class="expense paid">
                        <h2> {{e.value}} </h2>
                        <span class="due-date"> {{e.due}}</span>
                        <p>{{e.description}} </p>
                        <form method='post' action='/expense/{{e.id}}/pay'>
                            <button type="submit">Pagar</button>
                        </form>
                    </div>

                {% else %}

                    <div class="expense unpaid">
                        <h2> {{e.value}} </h2>
                        <span class="due-date"> {{e.due}}</span>
                        <p>{{e.description}} </p>
                        <form method='post' action='/expense/{{e.id}}/pay'>
                            <button type="submit">Pagar</button>
                        </form>
                    </div>

                {% endif %}

            {% endfor %}

        {% endif %}

    </div>
{% endblock %}
